<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DSLib.My.MySettings.Strivos_IMS_LeightonConnectionString"
            connectionString="Data Source=Strivossolutions;Initial Catalog=l1;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="DSLib.My.MySettings.L1ConnectionString" connectionString="Data Source=5.44.29.244;Initial Catalog=test;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="DSLib.My.MySettings.LeightonLiveConnectionString"
            connectionString="Data Source=10.82.3.15\sqlexpress;Initial Catalog=LeightonLive;User ID=sa;Password=Pod1234"
            providerName="System.Data.SqlClient" />
        <add name="DSLib.My.MySettings.TestConnectionString" connectionString="Data Source=5.44.29.244;Initial Catalog=Test;User ID=sa;Password=Pod1234"
            providerName="System.Data.SqlClient" />
        <add name="DSLib.My.MySettings.TestleightonConnectionString"
            connectionString="Data Source=Strivos1;Initial Catalog=Testleighton;User ID=sa;Password=1234"
            providerName="System.Data.SqlClient" />
        <add name="DSLib.My.MySettings.ConnectionString" connectionString="Data Source=Strivos1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DSLib.My.MySettings.LeightonLiveConnectionString1"
            connectionString="Data Source=Strivos1;Initial Catalog=LeightonLive;User ID=sa;Password=1234"
            providerName="System.Data.SqlClient" />
        <add name="DSLib.My.MySettings.StrivosConnectionString" connectionString="Data Source=118.91.232.175;Initial Catalog=Strivos;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="DSLib.My.MySettings.DLConnectionString" connectionString="Data Source=RAMESH-PC;Initial Catalog=DL;User ID=sa;Password=1234"
            providerName="System.Data.SqlClient" />
        <add name="DSLib.My.MySettings.leightonConnectionString" connectionString="Data Source=ramesh-pc;Initial Catalog=leighton;User ID=sa;Password=1234"
            providerName="System.Data.SqlClient" />
        <add name="DSLib.My.MySettings.StrivosConnectionString1" connectionString="Data Source=LAPTOP-ENB95USD;Initial Catalog=Strivos;User ID=sa;Password=1234"
            providerName="System.Data.SqlClient" />
        <add name="DSLib.My.MySettings.TestStrivosConnectionString" connectionString="Data Source=118.91.232.175;Initial Catalog=TestStrivos;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="DSLib.My.MySettings.DLConnectionString1" connectionString="Data Source=.;Initial Catalog=DL;User ID=sa;Password=1234"
            providerName="System.Data.SqlClient" />
        <add name="DSLib.My.MySettings.leightonConnectionString1" connectionString="Data Source=LAPTOP-ENB95USD;Initial Catalog=leighton;User ID=sa;Password=1234"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
