<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RptLib.My.MySettings.Strivos_IMS_LeightonConnectionString" connectionString="Data Source=Strivossolutions;Initial Catalog=l1;User ID=sa;Password=1234" providerName="System.Data.SqlClient"/>
        <add name="RptLib.My.MySettings.IMSConnectionString" connectionString="Data Source=StrivosSOLUTIONS;Initial Catalog=L2;User ID=sa" providerName="System.Data.SqlClient"/>
        <add name="RptLib.My.MySettings.Strivos_IMS_LeightonConnectionString1" connectionString="Data Source=Strivos1;Initial Catalog=Strivos_IMS_Leighton;User ID=sa;Password=1234" providerName="System.Data.SqlClient"/>
        <add name="RptLib.My.MySettings.LeightonLiveConnectionString" connectionString="Data Source=118.91.232.175;Initial Catalog=strivos;User ID=sa;Password=LWIN@1234" providerName="System.Data.SqlClient"/>
        <add name="RptLib.My.MySettings.TestleightonConnectionString" connectionString="Data Source=LAPTOP-ENB95USD;Initial Catalog=dl;User ID=sa" providerName="System.Data.SqlClient"/>
        <add name="RptLib.My.MySettings.leightonConnectionString" connectionString="Data Source=Strivos1;Initial Catalog=leighton;User ID=sa;Password=1234" providerName="System.Data.SqlClient"/>
        <add name="RptLib.My.MySettings.StrivosConnectionString" connectionString="Data Source=118.91.232.175;Initial Catalog=Strivos;User ID=sa;Password=LWIN@1234" providerName="System.Data.SqlClient"/>
        <add name="RptLib.My.MySettings.leightonConnectionString1" connectionString="Data Source=LAPTOP-ENB95USD;Initial Catalog=leighton;User ID=sa;Password=1234" providerName="System.Data.SqlClient"/>
        <add name="RptLib.My.MySettings.DLConnectionString" connectionString="Data Source=RAMESH-PC;Initial Catalog=DL;User ID=sa" providerName="System.Data.SqlClient"/>
        <add name="RptLib.My.MySettings.StrivosConnectionString1" connectionString="Data Source=LAPTOP-ENB95USD;Initial Catalog=Strivos;User ID=sa;Password=1234" providerName="System.Data.SqlClient"/>
        <add name="RptLib.My.MySettings.LeightonConnectionString2" connectionString="Data Source=LAPTOP-ENB95USD;Initial Catalog=Leighton;User ID=sa;Password=1234" providerName="System.Data.SqlClient"/>
        <add name="RptLib.My.MySettings.LeightonConnectionString3" connectionString="Data Source=.\snehams;Initial Catalog=Leighton;User ID=sa;Password=Dec252016" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
